<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Memo.post.DAO.PostDAO">
	<insert id="insertPost" parameterType="map">
		INSERT INTO POST
		(
		`userId`
		,`subject`
		,`content`
		,`imagePath`
		,`createdAt`
		,`updatedAt`
		)
		VALUES
		(
			#{userId}
			,#{subject}
			,#{content}
			,#{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="selectPost" resultType="com.example.Memo.post.Model.Post" parameterType="int">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			post
		WHERE
			userId = #{userId}
		ORDER BY id DESC
	</select>
	
	
	<select id="selectPostByPostIdAndUserId" resultType="com.example.Memo.post.Model.Post" parameterType="map">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			post
		WHERE
			id = #{postId}
		AND 
			userId = #{userId}
	</select>
	
	<select id="selectPostByPostId" resultType="com.example.Memo.post.Model.Post" parameterType="int">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			post
		WHERE
			id = #{postId}
	</select>
	<update id="updatePost" parameterType="map">
		UPDATE `post`
		SET
			`subject` = #{subject}
			,`content` = #{content}
			,`updatedAt` = NOW()
			<!--imagePath 가 있을때만 수정한다.  -->
			<if test="imagePath != null">
			, `imagePath` = #{imagePath}
			</if>
		WHERE
			`id` = #{postId}
	</update>
</mapper>